version: "3"
services:
  app:
    build:
      context: .
      dockerfile: dev.Dockerfile
    links:
      - postgres
    ports:
      - 4000
    command: >-
      bash -c './wait-for-it.sh -t 20 postgres:5432 -- mix ecto.setup; mix phx.server'
    environment:
      - DB_HOST=postgres
      - DB_USER=postgres
      - DB_PASSWORD=postgres
  postgres:
    image: "postgres:11.5"
    ports:
      - 5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
