version: 2
jobs:
  build:
    docker:
      - image: elixir:1.9.0-alpine
        environment:
          MIX_ENV: prod
    working_directory: /app
    steps:
      - persist_to_workspace:
          root: /app
          paths:
            - _build
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "20:f4:f4:ae:3e:a6:f1:fb:a5:7b:25:4c:bc:cd:86:ba"
      - restore_cache:
          keys:
            - v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v1-mix-cache-{{ .Branch }}
            - v1-mix-cache
      - restore_cache:
          keys:
            - v1-build-cache-{{ .Branch }}
            - v1-build-cache
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote

      - run: mix local.hex --force
      - run: mix local.rebar --force
      - run: mix deps.get
      - run: mix deps.compile
      - run: mix compile

      - save_cache:
          key: v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
          paths:
            - "deps"
      - save_cache:
          key: v1-mix-cache-{{ .Branch }}
          paths:
            - "deps"
      - save_cache:
          key: v1-mix-cache
          paths:
            - "deps"
      - save_cache:
          key: v1-build-cache-{{ .Branch }}
          paths:
            - "_build"
      - save_cache:
          key: v1-build-cache
          paths:
            - "_build"

      - run: mix phx.digest
      - run: mix release
      - run: ls
  test:
    docker:
      - image: circleci/elixir:1.9.0
        environment:
          MIX_ENV: test
      - image: circleci/postgres:10.1-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: account_api_test
    working_directory: /app
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v1-mix-cache-{{ .Branch }}
            - v1-mix-cache

      - run: mix do local.hex --force, local.rebar --force
      - run: mix deps.get

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: mix test

      - store_test_results:
          path: _build/test/lib/account_api
workflows:
  version: 2
  btd:
    jobs:
      - build
      - test