version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.2.0
  aws-ecs: circleci/aws-ecs@0.0.11
jobs:
  test:
    docker:
      - image: circleci/elixir:1.9.0
        environment:
          MIX_ENV: test
      - image: circleci/postgres:10.1-alpine
        environment:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: account_api_test
    steps:
      - checkout
      - add_ssh_keys:
          fingerprints:
            - "20:f4:f4:ae:3e:a6:f1:fb:a5:7b:25:4c:bc:cd:86:ba"
      - run:
          name: "Pull Submodules"
          command: |
            git submodule init
            git submodule update --remote
      - restore_cache:
          keys:
            - v1-mix-cache-{{ .Branch }}-{{ checksum "mix.lock" }}
            - v1-mix-cache-{{ .Branch }}
            - v1-mix-cache

      - run: mix do local.hex --force, local.rebar --force
      - run: mix do deps.get, deps.compile
      - run: mix compile

      - run:
          name: Wait for DB
          command: dockerize -wait tcp://localhost:5432 -timeout 1m

      - run: mix test

      - store_test_results:
          path: _build/test/lib/account_api
workflows:
  version: 2
  test:
    jobs:
      - test
  build_and_push_image:
    jobs:
      - aws-ecr/build-and-push-image:
          repo: ${AWS_RESOURCE_NAME_PREFIX}
          tag: ${CIRCLE_SHA1}
          extra-build-args: "--build-arg DB_USER=$DB_USER --build-arg DB_PASSWORD=$DB_PASSWORD --build-arg DB_NAME=$DB_NAME --build-arg DB_HOST=$DB_HOST --build-arg DB_PORT=$DB_PORT --build-arg APP_PORT=$APP_PORT --build-arg APP_HOSTNAME=$APP_HOSTNAME --build-arg SECRET_KEY_BASE=$SECRET_KEY_BASE --build-arg AUTH_SECRET_KEY=$AUTH_SECRET_KEY"